doctype html
html
    head
        include includes/stream-head.pug
        link(href='/css/champ-select.css', rel='stylesheet', type='text/css')
    body
        #container
            #overlay

            #text-layer
                .timer.blue
                .timer.red
                .timer.middle
                #phase Pick Phase 1
                #tn-0.team-name
                #tn-1.team-name
                #sn-0.player-name
                #sn-1.player-name
                #sn-2.player-name
                #sn-3.player-name
                #sn-4.player-name
                #sn-5.player-name
                #sn-6.player-name
                #sn-7.player-name
                #sn-8.player-name
                #sn-9.player-name
                #sm-0.player-message
                #sm-1.player-message
                #sm-2.player-message
                #sm-3.player-message
                #sm-4.player-message
                #sm-5.player-message
                #sm-6.player-message
                #sm-7.player-message
                #sm-8.player-message
                #sm-9.player-message

            #image-layer
                #ti-0.team-image
                #ti-1.team-image
                #si-0.player-image
                #si-1.player-image
                #si-2.player-image
                #si-3.player-image
                #si-4.player-image
                #si-5.player-image
                #si-6.player-image
                #si-7.player-image
                #si-8.player-image
                #si-9.player-image
                #b-0.ban-image
                #b-1.ban-image
                #b-2.ban-image
                #b-3.ban-image
                #b-4.ban-image
                #b-5.ban-image
                #b-6.ban-image
                #b-7.ban-image
                #b-8.ban-image
                #b-9.ban-image

        include includes/stream-foot.pug
        script(src='/js/champ-select.js')
