doctype html
html
    head
        include includes/stream-head.pug
        link(href='/css/champ-select.css', rel='stylesheet', type='text/css')
    body
        #container
            #overlay

            #text-layer
                .timer.blue :02
                .timer.red :30
                .timer.middle 3:00
                #phase Pick Phase 1
                #tn-0.team-name Team 1
                #tn-1.team-name Team 2
                #sn-0.player-name Player 1
                #sn-1.player-name Player 2
                #sn-2.player-name Player 3
                #sn-3.player-name Player 4
                #sn-4.player-name Player 5
                #sn-5.player-name Player 6
                #sn-6.player-name Player 7
                #sn-7.player-name Player 8
                #sn-8.player-name Player 9
                #sn-9.player-name Player 10
                #sm-0.player-message
                #sm-1.player-message
                #sm-2.player-message
                #sm-3.player-message
                #sm-4.player-message
                #sm-5.player-message
                #sm-6.player-message
                #sm-7.player-message
                #sm-8.player-message
                #sm-9.player-message

            #image-layer
                #ti-0.team-image
                #ti-1.team-image
                #si-0.player-image(style="background-image: url('http://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-splashes/523/523000.jpg');")
                #si-1.player-image
                #si-2.player-image
                #si-3.player-image
                #si-4.player-image
                #si-5.player-image
                #si-6.player-image
                #si-7.player-image
                #si-8.player-image
                #si-9.player-image
                #b-0.blue.ban-image(style="background-image: url('http://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-tiles/523/523000.jpg');")
                #b-1.red.ban-image
                #b-2.blue.ban-image
                #b-3.red.ban-image
                #b-4.blue.ban-image
                #b-5.red.ban-image
                #b-6.blue.ban-image
                #b-7.red.ban-image
                #b-8.blue.ban-image
                #b-9.red.ban-image

        include includes/stream-foot.pug
        script(src='/js/champ-select.js')
