doctype html
html
    head
        include includes/generic-head.pug
        include includes/admin-head.pug
    body
        .jumbotron.jumbotron-fluid
            .container
                h1.display-4
                    img(src='img/icon_coloured.png', width="125")
                    | &nbsp;&nbsp;Valanth's League Stream Control
                p.lead Use these controls instead of having to mess around with OBS excessively
                p.lead You only need to configure one OBS Scene with a browser view over your League game. Use this link for your browser source: http://url.com/stream/waiting

        button#press-me View Champ Select
        button#swap-teams Swap Teams

        include includes/admin-foot.pug
