doctype html
html
    head
        include includes/stream-head.pug
        link(href='/css/waiting.css', rel='stylesheet', type='text/css')
    body
        #container
            #overlay

        include includes/stream-foot.pug
        script(src='/js/waiting.js')
