body {
    position: relative;
    width: 1920;
    height: 1080;
}

#container {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: pink;
    background-image: url('/img/champ-select/background.png');
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-image: url('/img/champ-select/overlay.png');
}

/* IMAGE */
#image-layer {
    z-index: 25;
}

#image-layer div {
    position: absolute;
}

/* Team images */
.team-image {
    z-index: 49;
    width: 211px;
    height: 161px;
    background-size: 60%;
    background-repeat: no-repeat;
}

#ti-0 {
    top: 0px;
    left: 475px;
    background-position: 33% center;
    clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
}

#ti-1 {
    top: 0px;
    left: 1230px;
    background-position: 67% center;
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);
}

/* Player images */
.player-image {
    z-index: 25;
    width: 365px;
    height: 118px;
    background-size: cover;
}

#si-0 {
    top: 199px;
    left: 5px;
}

#si-1 {
    top: 325px;
    left: 5px;
}

#si-2 {
    top: 451px;
    left: 5px;
}

#si-3 {
    top: 606px;
    left: 5px;
}

#si-4 {
    top: 733px;
    left: 5px;
}

#si-5 {
    top: 199px;
    left: 1552px;
}

#si-6 {
    top: 325px;
    left: 1552px;
}

#si-7 {
    top: 451px;
    left: 1552px;
}

#si-8 {
    top: 606px;
    left: 1552px;
}

#si-9 {
    top: 733px;
    left: 1552px;
}

/* Ban images */
.ban-image {
    z-index: 49;
    width: 156px;
    height: 124px;
    background-size: cover;
    clip-path: polygon(11.5% 0, 91% 0, 91% 100%, 11.5% 100%);
}

#b-0 {
    top: 907px;
    left: 34px;
}

#b-1 {
    top: 907px;
    left: 1723px;
}

#b-2 {
    top: 907px;
    left: 174px;
}

#b-3 {
    top: 907px;
    left: 1583px;
}

#b-4 {
    top: 907px;
    left: 314px;
}

#b-5 {
    top: 907px;
    left: 1443px;
}

#b-6 {
    top: 907px;
    left: 1237px;
}

#b-7 {
    top: 907px;
    left: 520px;
}

#b-8 {
    top: 907px;
    left: 1097px;
}

#b-9 {
    top: 907px;
    left: 660px;
}

/* TEXT */
#text-layer {
    z-index: 100;
}

#text-layer div {
    position: absolute;
}

/* Timers */
.timer {
    font-size: 100px;
    font-family: 'Bebas';
    color: white;
    text-shadow: 5px 5px 10px #222;
}

.timer.blue {
    top: 16px;
    left: 689px;
}

.timer.red {
    top: 16px;
    left: 1119px;
}

.timer.middle {
    top: 0;
    left: 800px;
    width: 320px;
    height: 130px;
    color: black;
    text-shadow: 5px 5px 10px #848484;
    text-align: center;
}

#phase {
    z-index: 100;
    width: 241px;
    font-size: 30px;
    font-family: 'BigNoodleTitling';
    text-align: center;
    top: 129px;
    left: 840px;
    text-shadow:  5px 5px 10px #222;
    color: #d6cfcf;
}

.team-name {
    z-index: 49;
    font-size: 34px;
    line-height: 51px;
    font-family: 'BigNoodleTitling';
    text-align: center;
    width: 462px;
    height: 51px;
    color: black;
}

/* Team names */
#tn-0 {
    top: 170px;
    left: 477px;
}

#tn-1 {
    top: 170px;
    left: 979px;
}

.player-name { 
    z-index: 100;
    padding-left: 5px;
    font-size: 28px;
    line-height: 29px;
    font-family: 'BigNoodleTitling';
    text-align: left;
    width: 354px;
    height: 28px;
    color: #d6cfcf;
}

/* Player names */
#sn-0 {
    top: 289px;
    left: 5px;
}

#sn-1 {
    top: 415px;
    left: 5px;
}

#sn-2 {
    top: 541px;
    left: 5px;
}

#sn-3 {
    top: 696px;
    left: 5px;
}

#sn-4 {
    top: 823px;
    left: 5px;
}

#sn-5 {
    top: 289px;
    left: 1551px;
}

#sn-6 {
    top: 415px;
    left: 1551px;
}

#sn-7 {
    top: 541px;
    left: 1551px;
}

#sn-8 {
    top: 696px;
    left: 1551px;
}

#sn-9 {
    top: 823px;
    left: 1551px;
}

.player-message {
    z-index: 100;
    font-size: 25px;
    font-family: 'BigNoodleTitling';
    color: white;
    text-align: right;

    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5
    }
}

/*
width: 354px;
height: 28px;
*/

/* Player messages */
#sm-0 {
    top: 290px;
    right: 1558px;
}

#sm-1 {
    top: 416px;
    right: 1558px;
}

#sm-2 {
    top: 542px;
    right: 1558px;
}

#sm-3 {
    top: 697px;
    right: 1558px;
}

#sm-4 {
    top: 824px;
    right: 1558px;
}

#sm-5 {
    top: 290px;
    right: 10px;
}

#sm-6 {
    top: 416px;
    right: 10px;
}

#sm-7 {
    top: 542px;
    right: 10px;
}

#sm-8 {
    top: 697px;
    right: 10px;
}

#sm-9 {
    top: 824px;
    right: 10px;
}
