body {
    position: relative;
    width: 1920;
    height: 1080;
}

#container {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: pink;
    background-image: url('/img/champ-select/placeholder.png');
}
